<style>
    .clearfix:before,
    .clearfix:after {
        content: '';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .mt10 { margin-top: 10px; }
    .mb10 { margin-bottom: 10px; }
</style>
<div class="pageContent">
    <form method="post" action="photo/submit" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return iframeCallback(this, dialogAjaxDone);">
        <div class="pageFormContent nowrap" layoutH="56">
            <input type="hidden" name="photo[id]" value="<%= photo.id %>"/>
            <input type="hidden" name="photo[album_id]" value="<%= photo.album && photo.album.id || album.id %>">
            <div class="clearfix mt10 mb10">
                <label>名称：</label>
                <input type="text" name="photo[name]" maxlength="20" class="textInput required" size="30" value="<%= photo.name %>"/>
            </div>
            <div class="clearfix mt10 mb10">
                <label>介绍：</label>
                <textarea name="photo[intro]" class="textInput required" cols="40" rows="3"><%= photo.intro %></textarea>
            </div>
            <div class="clearfix mt10 mb10">
                <label>图片：</label>
                <% if (photo.id) { %>
                <span class="textInput">
                    <img src="<%= photo.thumbnail_url %>" alt="<%= photo.name %>" width="100"/>
                </span>
                <% } else { %>
                <input type="file" name="file" />
                <% } %>
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>