<div class="pageContent">
    <form method="post" action="tag/submit" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent nowrap" layoutH="56">
            <input type="hidden" name="tag[id]" value="<%= tag.id %>"/>
            <p>
                <label>名称：</label>
                <input type="text" name="tag[name]" maxlength="20" class="textInput required" size="30" value="<%= tag.name %>"/>
            </p>
            <p>
                <label>介绍：</label>
                <input type="text" name="tag[intro]" class="textInput" size="30" value="<%= tag.intro %>"/>
            </p>
            <p>
                <label>设为顶部导航：</label>
                <span>
                    <label style="display: inline-block; width: auto;"><input type="radio" name="tag[is_topnav]" value="0" <%= !tag.is_topnav?'checked': '' %> >否</label>
                    <label style="display: inline-block; width: auto;"><input type="radio" name="tag[is_topnav]" value="1" <%= tag.is_topnav?'checked': '' %>>是</label>
                </span>
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>


<script type="text/javascript">
    function customvalidXxx(element){
        if ($(element).val() == "xxx") return false;
        return true;
    }
</script>
