<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-cn" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="zh-cn" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="zh-cn" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title><%= title %> - 汪祎 （Wang Yi）</title>
    <%- include ./include/head %>
</head>
<body>
<% if (album.cover || album.photos.length) { %>
<div style="display: none"><img src="<%= album.cover || album.photos[0].middle_url %>" alt="<% album.name %>"/></div>
<% } %>
<%- include ./include/topbar %>
<div id="main">
    <div class="container-flex">
        <div class="cell cell-200">
            <nav>
                <ul class="aside">
                    <% tags.forEach(function(tag) { %>
                    <li><a href="/tag/<%= tag.id %>"><%= tag.name %></a></li>
                    <% }); %>
                </ul>
            </nav>
        </div>
        <div class="cell cell-flex">
            <div class="photos-list">
                <h3 class="album-title photo-box" style="margin-bottom: 10px;">
                    <%= album.name %>
                    <div class="share">
                        <span class="share-title">share: </span>
                        <a class="J_weibo" href="http://weibo.com/weixiaobeijing" target="_blank"><i class="fa fa-weibo"></i></a>
                    </div>
                </h3>
                <% if (album.photos.length) { %>
                    <% var photos = album.photos %>
                    <% photos.forEach(function(photo) { %>
                        <div class="photo-box">
                            <img src="<%= photo.url %>" alt=""/>
                            <% if (photo.intro) { %>
                            <div class="photo-intro">
                                <%- photo.intro %>
                                <!--<div class="photo-share">
                                    <a href="#"><i class="fa fa-weibo"></i></a>
                                    <a href="#"><i class="fa fa-wechat"></i></a>
                                </div>-->
                            </div>
                            <% } %>
                        </div>
                    <% }); %>
                <% } %>

                <!--<div class="photo-box">
                    <div class="share">
                        <span class="share-title">share: </span>
                        <a class="J_weibo" href="http://weibo.com/weixiaobeijing" target="_blank"><i class="fa fa-weibo"></i></a>
                    </div>
                </div>-->
                <div class="album-intro photo-box">
                    <%- album.intro %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ./include/footer %>
<%- include ./include/script %>
</body>
</html>