<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-cn" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="zh-cn" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="zh-cn" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>WANGYI</title>
    <%- include ./include/head %>
</head>
<body>
<%- include ./include/topbar %>
<div id="main">
    <div class="container-flex">
        <div class="cell cell-200">
            <nav>
                <ul class="aside">
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#about-us">About us</a></li>
                </ul>
            </nav>
        </div>
        <div class="cell cell-flex">
            <div class="wy-panel" id="news">
                <%- asdf.notice %>
            </div>
            <div class="wy-panel" id="contact">
                <%- asdf.contact %>
            </div>
            <div class="wy-panel" id="about-us">
                <%- asdf.aboutus %>
            </div>
        </div>
    </div>
</div>
<%- include ./include/footer %>
<%- include ./include/script %>
<script>
    $(function() {
        $(window).on('hashchange', function() {
            aimSection();
        });

        function aimSection() {
            var hash = location.hash;
            var aim = $(hash);
            var aimTop = aim.position().top - 70;
            console.log(aimTop);
            $(document.body).scrollTop(aimTop);
        }
        window.onload = function () {

            setTimeout(function () {
                aimSection();
            }, 100);
        };
    });
</script>
</body>
</html>