<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-cn" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="zh-cn" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="zh-cn" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>汪祎 （Wang Yi）</title>
    <%- include ./include/head %>
</head>
<body>
<div style="display: none">
    <img src="public/img/logo_square.png" alt="LOGO"/>
</div>
<%- include ./include/topbar %>
<div id="main">
    <div class="hidden gallery-list">
        <% albums.forEach(function (album) { %>
        <% if (album.cover || album.photos.length) { %>
        <div>
            <a href="/album/<%= album.id %>" class="gallery-album">
                <img src="<%= album.cover || album.photos[0].thumbnail_url %>" alt="<%= album.name %>"/>
                <div class="gallery-album-intro"><%= album.name %></div>
            </a>
        </div>
        <% } %>
        <% }); %>
    </div>
    <div class="gallery"></div>
</div>
<footer class="footer footer-fixed">
    <div class="copyright">COPYRIGHT © 2015. WAGNYI. ALL RIGHTS RESERVED</div>
</footer>
<%- include ./include/script %>
<link rel="stylesheet" href="/public/js/ZScroll/ZScroll.css"/>
<script src="/public/js/ZScroll/ZScroll.js"></script>
<style>
    .ZScroll-item {
        width: 100%;
    }
</style>
<script>
    var $gallery = $('.gallery');
    var tmpl = '' +
            '<div class="gallery-col ZScroll">' +
            '</div>';

    var $galleryList = $('.gallery-list').children();

    var JD_Width = 768;
    var cur_width = document.body.clientWidth;
    var is_big_screen = cur_width > JD_Width;
    var cols_count = 4;

    var cols = [];

    function init() {
        $galleryList.each(function (index, ele) {
            var aim = index%cols_count;
            cols[aim] = cols[aim] || [];
            cols[aim].push(ele);
        });
    }

    init();

    function render() {
        for (var i = 0; i < cols.length; i++) {
            var $col = $(tmpl);
            $col.append(cols[i]);
            if (!is_big_screen) {
                ++i;
                $col.append(cols[i]);
            }
            $gallery.append($col);
        }
    }
    render();

    function initEvent() {
        var c = $('.gallery-col:even').zScroll({
            autoPlay: true,
            autoPlaySpeed: 50,
            speed: 500,
            sleep: 0,
            distance: 1,
            direction: 0,
            vertical: true,
            initialSlide: 0,
            pauseOnHover: true,
            infinite: true,
            smooth: true,
        });

        $('.gallery-col:odd').zScroll({
            autoPlay: true,
            autoPlaySpeed: 50,
            speed: 500,
            sleep: 0,
            distance: 1,
            direction: 1,
            initialSlide: 0,
            vertical: true,
            pauseOnHover: true,
            infinite: true,
            smooth: true
        });
    }

    $(window).on('load', function () {
        initEvent();

        $(window).on('resize', function (e) {
            cur_width = document.body.clientWidth;
            if (is_big_screen !== cur_width > JD_Width) {
                is_big_screen = cur_width > JD_Width;
                $gallery.empty();

                render();
                initEvent();
            } else {
                $('.gallery-col').zScroll('destroy');
                initEvent();
            }
        });
    });
</script>
</body>
</html>