<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-cn" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="zh-cn" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="zh-cn" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title><%= title %> - 汪祎 （Wang Yi）</title>
    <%- include ./include/head %>
</head>
<body>
<%- include ./include/topbar %>
<div id="main">
    <div class="container-flex">
        <div class="cell cell-200">
            <nav>
                <ul class="aside">
                    <% tags.forEach(function(tag) { %>
                    <li><a href="/tag/<%= tag.id %>"><%= tag.name %></a></li>
                    <% }); %>
                </ul>
            </nav>
        </div>
        <div class="cell cell-flex">
            <div style="margin-right: -10px;">
                <div class="waterfull-photos" id="J_waterfull">
                    <% albums.forEach(function(album) {%>
                        <% if (album.cover || album.photos.length) {%>
                        <div class="waterfull-item">
                            <a href="/album/<%= album.id %>"><img src="<%= album.cover || album.photos[0].thumbnail_url %>" alt="<%= album.name %>"/></a>
                            <div class="waterfull-intro"><span class="waterfull-intro-inner"><%= album.name %></span></div>
                        </div>
                        <% } %>
                    <% }); %>
                </div>

                <% if (!albums.length) {%>
                <div class="no-photo-in-this-tag">no photo.</div>
                <% } %>
                <div class="last-page-placeholder" style="display: none">no more works.</div>
                <div class="scroll-dev"></div>
                <div class="gap-dev"></div>
            </div>
        </div>
    </div>
</div>
<%- include ./include/footer %>
<%- include ./include/script %>
<script src="/public/js/masonry/masonry.pkgd.min.js"></script>
<script src="/public/js/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script>
    String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
    };
    function renderItem(album) {
        if (!album.cover && !album.photos.length) {
            return null;
        }
        var imageUrl = album.cover || album.photos[0].thumbnail_url;
        var template = '<div class="waterfull-item">' +
            '<a href="/album/${album.id}"><img src="${imageUrl}" alt="${album.name}"/></a>' +
            '<div class="waterfull-intro"><span class="waterfull-intro-inner">${album.name}</span></div>' +
            '</div>';
        return template.replaceAll(/\$\{album.id\}/, album.id)
            .replaceAll(/\$\{album.name\}/, album.name)
            .replaceAll(/\$\{imageUrl\}/, imageUrl);
    }

    $(function () {
        var J_waterfull = $('#J_waterfull');
        var $grid = J_waterfull.masonry({
            itemSelector: '.waterfull-item',
            percentPosition: true
        });
        J_waterfull.imagesLoaded().progress( function() {
            J_waterfull.masonry('layout');
        });

        var currentPage = 1;
        var totalPage = Math.ceil('<%= page.totalCount %>' * 1 / ('<%= page.numPerPage %>' * 1));
        var loading = false;
        var tagId = location.pathname.substring("/tag/".length) * 1;

        var scrollCount = 1;
        $(window).scroll(function () {
            $('.scroll-dev').text("scroll..." + (scrollCount++));
            var needLoadNext = (window.innerHeight + window.pageYOffset) >= document.body.offsetHeight - 2 - window.innerHeight / 2;

            $('.gap-dev').text("gap-dev: " + needLoadNext);

            if (needLoadNext && totalPage > currentPage && !loading) {
                loading = true;
                $.ajax({
                    type: "GET",
                    url: "/api/tag/" + tagId,
                    data: {
                        numPerPage: 10,
                        currentPage: currentPage + 1
                    },
                    success: function(result) {
                        $.each(result, function (index, album) {
                            var itemHtml = renderItem(album);
                            if (itemHtml !== null) {
                                var $item = $(itemHtml);
                                // append items to grid
                                J_waterfull.append( $item )
                                // add and lay out newly appended items
                                    .masonry( 'appended', $item );
                            }
                        })

                        J_waterfull.imagesLoaded().progress( function() {
                            J_waterfull.masonry('layout');
                        });

                        loading = false;
                        currentPage = currentPage + 1;
                        if (currentPage >= totalPage) {
                            $('.last-page-placeholder').show();
                        }
                    },
                    error: function () {
                        loading = false;
                    }
                });
            }
        });
    })
</script>
</body>
</html>